env
.rasa
__pycache__
models
generate_data
test.py
vi_feature
results
credentials.yml
work_flow.txt
convert/major_career.txt
convert/major_criteria.txt
convert/major_info.txt
convert/major_point.txt
convert/major_subject_group.txt
convert/major_tuition.txt
convert/major_type_edu.txt
tests
convert/examples.txt
